.uni-swiper {
  overflow: hidden;
  position: relative;
  &-content {
    width: 100%;
    height: 100%;
    display: flex;
    &.vertical {
      flex-direction: column;
    }
  }
  &-item {
    width: 100%;
    height: 100%;
    flex: 1 0 auto;
  }
  &-dots {
    position: absolute;
    right: 50%;
    bottom: 4px;
    transform: translateX(50%);
    display: flex;
    &.vertical {
      right: 4px;
      bottom: 50%;
      transform: translateY(50%);
      flex-direction: column;
    }
    &-item {
      display: block;
      margin: 4px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
  }
}
