.uni-button {
  &-plain {
    &.weui-btn {
      background-color: transparent;
      border: 1px solid;
    }
    &.weui-btn_default:not([disabled]) {
      color: #353535;
    }
    &.weui-btn_primary:not([disabled]) {
      color: var(--weui-BRAND);
    }
  }
}
