.uni-picker {
  &-bt1 {
    position: relative;
    &::before {
      content: "";
      pointer-events: none;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      transform-origin: 0 0;
      border-top: 1px solid #ebebeb;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      @media (min-device-pixel-ratio: 2) {
        width: 200%;
        height: 200%;
        transform: scale(.5) translateZ(0);
      }
      @media (min-device-pixel-ratio: 3) {
        width: 300%;
        height: 300%;
        transform: scale(1 / 3) translateZ(0);
      }
    }
  }
  &-bb1 {
    position: relative;
    &::before {
      content: "";
      pointer-events: none;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      transform-origin: 0 0;
      border-bottom: 1px solid #ebebeb;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      @media (min-device-pixel-ratio: 2) {
        width: 200%;
        height: 200%;
        transform: scale(.5) translateZ(0);
      }
      @media (min-device-pixel-ratio: 3) {
        width: 300%;
        height: 300%;
        transform: scale(1 / 3) translateZ(0);
      }
    }
  }
  &-main {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    background-color: rgba(37, 38, 45, .4);
    &.uni-picker-fade-enter-from, &.uni-picker-fade-leave-to {
      opacity: 0;
    }
    &.uni-picker-fade-enter-active, &.uni-picker-fade-leave-active {
      transition: all .3s ease-in-out;
    }
  }

  &-panel {
    position: absolute;
    z-index: 600;
    bottom: 0;
    width: 100%;
    height: 273px;
    background: white;
    &.uni-picker-move-enter-from, &.uni-picker-move-leave-to {
      transform: translate3d(0, 273px, 0);
    }
    &.uni-picker-move-enter-active, &.uni-picker-move-leave-active {
      transition: all .3s ease-in-out;
    }
    .uni-picker-choose {
      position: relative;
      height: 60px;
      color: #999;
      .uni-picker-title {
        margin: 0;
        line-height: 60px;
        font-weight: normal;
        text-align: center;
        font-size: 18px;
        color: #333;
      }
      .confirm, .cancel {
        position: absolute;
        top: 6px;
        padding: 16px;
        font-size: 14px;
      }

      .confirm {
        right: 0;
        color: #007bff;
        &:active {
          color: #5aaaff;
        }
      }

      .cancel {
        left: 0;
        &:active {
          color: #c2c2c2;
        }
      }
    }

    .uni-picker-content {
      position: relative;
      top: 20px;
      .mask-top, .mask-bottom {
        z-index: 10;
        width: 100%;
        height: 68px;
        pointer-events: none;
        transform: translateZ(0);
      }
      .mask-top {
        position: absolute;
        top: 0;
        background: linear-gradient(to top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8));
      }
      .mask-bottom {
        position: absolute;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8));
      }
    }

    .wheel-wrapper {
      display: flex;
      padding: 0 16px;
      .wheel {
        -ms-flex: 1 1 0.000000001px;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        -webkit-flex-basis: 0.000000001px;
        flex-basis: 0.000000001px;
        width: 1%;
        height: 173px;
        overflow: hidden;
        font-size: 18px;
        .wheel-scroll {
          padding: 0;
          margin-top: 68px;
          line-height: 36px;
          list-style: none;
          .wheel-item {
            list-style: none;
            height: 36px;
            overflow: hidden;
            white-space: nowrap;
            color: #333;
          }
        }
      }
    }     
  }
}
